<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @digital.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @digital.stock %>
</p>

<p>
  <strong>Price:</strong>
  <%= @digital.price %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @digital.sku %>
</p>

<%= link_to 'Edit', edit_digital_path(@digital) %> |
<%= link_to 'Back', digitals_path %>
